<include file="Public::header" />

<div class="box_out">

<form method="post" action="" enctype="multipart/form-data">

<table>
	<tr>
		<td>封面图片</td>
		<td><input  name="files" type="file" />  </td>
	</tr>
	<tr>
		<td>中文标题</td>
		<td><input  name="title" />  </td>
	</tr>
	<tr>
		<td>英文标题</td>
		<td><input  name="title_en" />  </td>
	</tr>
	<tr>
		<td>中文副标题</td>
		<td><input  name="min_title" />  </td>
	</tr>
	<tr>
		<td>英文副标题</td>
		<td><input  name="min_title_en" />  </td>
	</tr>
	<tr>
		<td>中文内容</td>
		<td><textarea class="form-control" rows="3" name="content"></textarea>  </td>
	</tr>
	<tr>
		<td>英文内容</td>
		<td><textarea class="form-control" rows="3" name="content_en"></textarea>   </td>
	</tr>
	<tr>
		<td closapn="2"><input type="submit" value="提交"/></td>
	</tr>
</table>

</div>

</form>

</body>
</html>