
<include file="Public::header" />

<p class="top_img"><img src="__PUBLIC__/images/1.jpg"/></p>
<h2 class="title">{$info.title}<br/>{$info.title_en} </h2>
<div class="art-intro" style="margin-bottom:18px;line-height:1.5">
	<span>{$info.min_title}<br/>{$info.min_title_en}</span>
</div>

<div class="content_out">
	<p>
		<span class="p_span span_left">
			{$info.content}
		</span>
		<span class="p_span span_right">
			{$info.content_en}
		</span>
	</p>
	<p></p>

</div>

<!-- 相关推荐 -->
<h2 class="itemz_title" style="margin-bottom:10px;margin-top:20px;">相关推荐</h2>


</body>
</html>