
<include file="Public::header" />

<p class="top_img"><img src="__PUBLIC__/images/1.jpg"/></p>
<h2 class="title">{$info.title}<br/>{$info.title_en} </h2>
<div class="art-intro" style="margin-bottom:18px;line-height:1.5">
	<span>{$info.min_title}<br/>{$info.min_title_en}</span>
</div>

<div class="content_out">
	<p>
	<if condition="$info['content']"	>
		<span class="span_left <if condition="$info['content_en']">p_span </if>">
			{$info.content}
		</span>
	</if>
		
	<if condition="$info['content_en']"	>
		<span class="span_right <if condition="$info['content']">p_span </if>">
			{$info.content_en}
		</span>
	</if>
	</p>
	<p></p>

</div>

<!-- 相关推荐 -->
<h2 class="itemz_title" style="margin-bottom:10px;margin-top:20px;">相关推荐</h2>


</body>
</html>